@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Home Page */
/* --------------------- */

.event-img{
    width: 400px;
}

.nevent-img{
    width: 300px;
}

.section-container{
    width: 640px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.nsection-container{
    width: 640px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.event-title{
    font-size: 3rem;
    padding: .5rem;
}

.nevent-title{
    color:white;
    font-size: 3rem;
    padding: .5rem;
}

.nevent-desc{
    color:white;
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
}

.event-desc{
    
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
}

.event-link > div{
    color:white;
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 1rem;
    position: relative;
    padding-bottom: 0.8rem;
}

.event-link> div:after {
    color:white;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    margin: 0 auto;
    height: 3px;
    background: rgb(228, 13, 13);
}

.event-link > p > a > img{
    margin-right:.5rem;
    margin-left:.5rem;
}

.event-link > p > a > :first-child{
    width: 39px;
}

.event-link > p > a > :last-child{
    width: 40px;
}

/* Club Activities Page */
/* ----------------------- */

.slide-container{
    display: grid;
    grid-template-columns: auto 700px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 5rem;
    justify-items: center;
}

.slide-text{
    padding: 1rem;
}

.mslide-text{
    padding: 1rem;
}

.slide-img > img{
    width: 500px;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 7px;
}

.slide-img-chip > img{
    width: 400px;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 7px;
}

.sslide-img > img{
    width: 400px;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 7px;
}

.sslide-img-chip > img{
    width: 300px;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 7px;
}

.slide-title{
    font-size: 3rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-weight: bolder;
}

.mslide-title{
    font-size: 3rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-weight: bolder;
}

.slide-desc{
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
}

/* Project Page */
/* ---------------- */

.project-container{
    display: grid;
    grid-template-columns: auto 700px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 5rem;
    justify-items: center;
}

.project-text{
    padding: 1rem;
}

.project-img > img{
    width: 600px;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 7px;
}

.project-title{
    font-size: 3rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.project-desc{
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
}

/* Team Page */
/* --------------- */
.team-container{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: grid;
    justify-items: center;
    color: #fff;
}


.team-name{
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 1rem;
}

.team-desc{
    font-family: 'Muli', sans-serif;
}

.team-desc > div:first-child{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.team-desc > div:last-child{
    font-size: 1.1rem;
    padding: .2rem;
}

.team-title{
    margin: 1rem;
    margin-bottom: 2rem;
}

.team-box{
    display: grid;
    justify-content: space-around;
    width: 800px;
    grid-template-columns: repeat(auto-fit, 200px);
}

.member-img > img{
    width: 180px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.member-desc{
    padding: 1rem;
}

.team-name:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    margin: 0 auto;
    height: 3px;
    background: rgb(0, 0, 0);
}

#smedia
{
    height:50px;
    width:50px;
    margin:3px;
}

a
{
    color: #FFF;
    text-decoration: blink;
    font-weight: bolder;
    text-align: center !important;
}

/* different colours on team slides */
/* --------------------------------- */

.team-slide:nth-child(2){
    background-color: #DB8A74 !important;
}

.team-slide:nth-child(3){
    background-color: #2892D7 !important;
}

@media screen and (max-width: 800px){
    /* Home Page */
    /* --------------------- */

    .event-img{
        width: 250px;
    }

    .section-container{
        width: 100vw;
        margin:0;
    }

    .event-title{
        font-size: 1.8rem;
        padding: .6rem;
    }
    
    .nevent-title{
        font-size: 1.8rem;
        padding: .6rem;
    }

    .event-desc{
        font-size: .9rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    
    .nevent-desc{
        font-size: .9rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }


    /* Club Activities Page */
    /* ----------------------- */

    .slide-container{
        display: block;
        margin: 1rem;
    }

    .slide-text{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .mslide-text{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .slide-img > img{
        display: block;
        width: 250px;
        padding: .5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sslide-img > img{
        display: block;
        width: 250px;
        padding: .5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slide-title{
        text-align: center;
        font-size: 2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }
    
    .mslide-title{
        text-align: center;
        font-size: 2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

    .slide-desc{
        text-align: center;
        font-size: .95rem;
    }

    .fp-controlArrow.fp-prev {
        left: 10px;
        border-width: 14.4px 12.75px 14.4px 0;
    }

    .fp-controlArrow.fp-next {
        right: 10px;
        border-width: 14.4px 0 14.4px 12.75px;
    }

    #fp-nav.fp-right {
        right: 0px;
    }

    #fp-nav {
        margin-top: 5px !important;
    }

    /* Project Page */
    /* ---------------- */

    .project-container{
        display: block;
        margin: 1rem;
    }

    .project-text{
        padding: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .project-img > img{
        display: block;
        width: 250px;
        padding: .5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .project-title{
        text-align: center;
        font-size: 2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

    .project-desc{
        text-align: center;
        font-size: .95rem;
    }

    /* Team Page */
    /* --------------- */
    .team-container{
        display: grid;
        justify-items: center;
    }

    .team-name{
        font-size: 2rem;
        margin-bottom: .7rem;
        padding-bottom: .7rem;
    }

    .team-desc > div:first-child{
        font-size: 1rem;
    }

    .team-desc > div:last-child{
        font-size: 1rem;
        padding: .2rem;
    }

    .team-title{
        margin: 2rem;
        margin-top:4rem;
    }

    .team-box{
        width: auto;
        grid-template-columns: repeat(auto-fit, 190px);
    }

    .member-img > img{
        width: 130px;
        border-radius: 50%;
        border: 3px solid #fc6c7c;
    }

    .member-desc{
        padding: 1rem;
        color: #000;
        font-size: .8rem;
    }

    .team-member{
        margin-bottom: 1.5rem;
        padding: .9rem;
        background-color: #f2f2f2;
        border-radius: 6px;
    }

    .fp-tooltip{
        display: none !important;
    }

}
